body{
	padding-bottom: 60px;
}

p, ul, h1, h2, h3, td, th{
	font-family:"Garamond", 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-style:normal;
	text-align: left;
	list-style-type: none;
}

table{
	width: 1200px;
	margin-left:auto; 
    margin-right:auto;
}

h1{
	font-size: 1.5em;
	text-align: center;
}

h2{
	font-size: 1em;
	text-align: center;
	font-weight: normal;
}

caption{
	 text-align: left;
	 border: 1px;
	    border-bottom-style: solid;
	 font-weight: bold;
	 width: 100%;
	  padding: 5px;
}

.first {
	 width: 1000px;
}

.second {
	text-align: right;
}

.icon {
	position: absolute;
    right: 40px;
    top: 15px;
    height: 25px; 
    width:25px;
}

li:before { 
	content: "–  ";
	position:relative; left:-5px;
		    /*line-height: 1;*/
}

ul{
	    text-indent:-5px;
	     margin-top: 0px;
	     margin-bottom: 0px;
}

th span{
	font-weight: normal;
}
td{
		    line-height: 1;
		    padding-top: 0;
}

.mobile_icon{
	width: 100px;
	height: 100px;
}



.mobile{
	text-align: center;
	font-size: 2em;
	position: absolute;
	width: 80%;
	/*top: 300px;*/
	left: 10%;
	right: 50%;
	



}


